*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-color: white(24, 21, 21);
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}


.titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.pergunta{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.topicos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 36px;
}

  

.t1 img{
    width: 350px;
    height: 300px;
    
}
.t2 img{
    width: 350px;
    height: 300px;
}