*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-color: white(24, 21, 21);
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}


.titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: black;
    color: white;
}

.pergunta{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.topicos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 36px;
}
img{
    height: 500px;
    width: 700px;
    margin-left: 150px;
    margin-top: 60px;
}
  

.t1 img{
    width: 350px;
    height: 300px;
    
}
.t2 img{
    width: 350px;
    height: 300px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .timeline {
    margin: 20px auto;
    max-width: 800px;
  }
  
  .item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .content {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    margin-bottom: 0;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .timeline {
    width: 80%;
    margin: 20px auto;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  li {
    padding: 20px 10px;
  }
  
  .event {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .date {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 14px;
  }
  