body {
  background-color: gray;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
  margin-left: -10px;
  margin-top: 10px;


}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00; /* Cor do texto ao passar o mouse */
}

/* -------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 800px;
  margin: 20px auto;
}

.photo {
  margin: 10px;
  text-align: center;
}

.photo img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Adicione uma borda se desejar */
}

.photo p {
  margin: 10px 0;
}

/*--------------------------------------------------*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-color: white(24, 21, 21);
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}


.titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.pergunta{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.topicos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 36px;
}
img{
    height: 700px;
    width: 1200px;
    margin-left: 45px;
    margin-top: 10px;
}
  

.t1 img{
    width: 350px;
    height: 300px;
    
}
.t2 img{
    width: 350px;
    height: 300px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .timeline {
    width: 80%;
    margin: 20px auto;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  li {
    padding: 20px 10px;
  }
  
  .event {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 20px; 
  }
  
  .date {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 14px;
  }

<<<<<<< HEAD
/*---------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin: 20px auto;
}

.photo {
  text-align: center;
  margin-bottom: 20px;
}

.photo img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Adicione uma borda se desejar */
}

.photo p {
  margin: 10px 0;
}
=======
  .imagem-container {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }
  
  .imagem-container img {
    width: 200px; /* Defina o tamanho desejado para as imagens */
    height: auto;
  }
  
  .descricao {
    display: none;
  }
>>>>>>> 9d87227f326ff2697d57840efd55aa56192967b1
